/* You can add global styles to this file, and also import other style files */
* {
    user-select: none;
    box-sizing: border-box;
}

:root {
    --color-green: #1DB954;
    --color-grey-soft: #323232;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-grey-hard: #181818;
    --font-size: 1rem;
    --font-size-md: 1.2rem;
    --font-size-lg: 1.8rem;
    --shadow-1: rgb(0 0 0 /35%) 0px 8px 24px;
    --shadow-2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --border-radious-soft: .25rem;
    --border-radious-hard: .5rem;
    --font-family: 'Poppins', sans-serif;
    --animation-time: .2s;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--color-grey-hard);
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--color-white);
}

input, button {
    cursor: pointer;
    font-family: var(--font-family);
    cursor: pointer;
}

button:disabled {
    opacity: 0.5;
}